@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="()=>currentCount+=IncrementAmount">Click me</button>

<div class="m-4">
    <input type="text" @bind="text" @bind:event="oninput" @bind:after="Search"/>
    <p>@result</p>
</div>

<div style="border: 1px solid black;" @onmouseover="MouseOver">
    <p>@divText</p>
</div>

@code {
    private int currentCount = 0;
    private string text = "";
    private string result = "";
    private string divText = "";

    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    private void IncrementCount()
    {
        currentCount+=IncrementAmount;
    }
    private void HandleInput(ChangeEventArgs e)
    {
        text = (string)e.Value!;
    }
    private void MouseOver(MouseEventArgs e)
    {
        divText = "You are hovering over the div.";
    }
    private void HandleKey(KeyboardEventArgs e)
    {
        text = e.Key;
    }
    private void HandleBlur(FocusEventArgs e)
    {
        text = "You are not typing. You have clicked away";
    }
    private void HandleFocus(FocusEventArgs e)
    {
        text = "You are typing...";
    }
    async Task Search()
    {
        await Task.Delay(3000);
        result = "150 results were found!";
    }
}
